<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOURLlYKFZLW3n5tHtuO5OihYVXbMflgk</string>
	<key>GCM_SENDER_ID</key>
	<string>124052908667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.muveApplication</string>
	<key>PROJECT_ID</key>
	<string>muve-c6469</string>
	<key>STORAGE_BUCKET</key>
	<string>muve-c6469.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124052908667:ios:aa2c9122ff989cd90d10de</string>
</dict>
</plist>